*{
    font-family: "Oswald", sans-serif;
}
header{
    text-align: center;
}

body{
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 10%;
    background-color: rgba(19, 96, 119, 0.445);
    align-items: center;
}

nav h3{
    font-size: 20px;
}

.nav_list{
    display: flex;
}

.nav_list li{
    list-style: none;
    margin-left: 10px;
}

.nav_list li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.hero_page{
    height: 400px;
    /*background-color: blue;*/
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}

.left{
    height: 300px;
    width: 40%;
    /*background-color:brown;*/
}

.right{
    height: 300px;
    width: 40px;
    /*background-color: aqua;*/
}

/*Image section style*/
.image-section{
    padding: 40px;
    text-align: center;
}

.sec3{
    text-align: center;
}

.sec4{
    /*Footer section style*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.sec5{
    text-align: center;
    background-color: gray;
    padding: 20px;
    box-shadow: darkslategrey;
    margin-top: 30px;
}

.sec6{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 100px 50px 50px 100px;
    margin-top: 40px;
}

.sec7{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    border-top:1px solid #555;
}

ul li{
    list-style: none;
}

.chat_icon {
    text-align: center;
    position: absolute;
    color: green;
    right: 20px;
    top: 80vh;
    font-weight: 700;
    z-index: 10px;
    position: fixed;
}

/* responsiveness */

@media (max-width: 768px) {
    .hero_page{
        flex-direction: column;
        width: 100px;
        height: 100%;
        margin-bottom: 100px;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

/* Responsive styles */
@media (max-width:768px) {
    .sec6 {
        flex-direction: column;
        text-align: center;
    }
}


      
      
    

    

    


